.bouton__lire{
    margin-bottom: 20px;
    position: relative;
    left: 90px;
    display: inline-block;
    background-color: var(--noir-1);
    color: var(--vert);
    text-align: center;
    padding:15px;
    width: 196px;
    height: 52px;
    font-size: var(--title-md);
    font-family: var(--font-source);
}

.bouton__rechercher{
    font-size: var(--title-md);
    font-family: var(--font-source);
    background-color: var(--noir-1);
    color: var(--vert);
    position: relative;
    width: 121px;
    height: 39px;
    left: 223px;
    top: 20px;
}

