*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
    padding-left: var(--space3x);
    padding-right: var(--space3x);
  }

/*Mise en forme des titres et paragraphes*/
.titre{
    z-index: 1;
    color: var(--vert);
    width: fit-content;
    font-family: var(--font-source);
    font-size: var(--title-xxl);
    position: relative;
    left: 115px;
    top: 250px;
}

h2, h3, p, h4 {
    padding-right: 20px;
    padding-left: 20px;
}

h5{
    color: var(--blanc);
    font-family: var(--font-source);
    font-size: var(--title-md);
    padding-top: 30px;
    margin-left: 20px;
}

h3{
    font-family: var(--font-source);
    font-size: var(--title-lg); 
}

h2{
    font-family: var(--font-source);
    font-size: var(--title-xl);  
    font-weight: 700;
}

h4{
    font-family: var(--font-comforta);
    font-size: var(--title-lg);
    font-weight: 200;
}

h6{
    font-family: var(--font-source);
    font-size: var(--title-md);
}

p{
    font-family: var(--font-source);
}

.iron__accueil{
    margin-left: 20px;
}

.titre__accueil{
    margin-left: 70px;
    line-height: 0px;
}

.article__1{
    background-color: var(--vert);
    position: relative;
    width: 375px;
    height: 322px;
    left: 0px;
    top: -100px;
}

.titre__principal{
    padding-top: 40px;
    position: absolute;
    left: 34px;
    top: 20px;
}

.armure{
    padding-top: 40px;
}

main {
    margin-top: 80px;
}

.debut__article3{
    font-size: var(--text-sm);
    position: absolute;
    right: 20px;
    left: 20px;
    top: 88px;
}

.dernier_p{
    margin-bottom: 130px;
}

.autres__projets{
    margin-bottom: 100px;
    position: relative;
    top: 60px;
    left: 113px;
    width: 150px;
}

.debut__article4{
    position: relative;
    top: 54px;
}

.propos{
    line-height: 25px;
    position: relative;
    top: 54px;
    font-size: var(--title-md);
}

.propos__p{
    margin-bottom: 40px;
}

a:link 
{ 
 text-decoration: none; 
 color: var(--vert);
} 

.nom__projet{
    color: var(--noir);
    width: 200px;
}

.erreur{
    font-family: var(--font-oswald);
    font-size: var(--title-xl);
}


