.photo {
    max-width: 100%;
    height: auto;
    
  }

.photo__accueil{
    position: relative;
    top: -64px;
    width: 375px;
    height: 310px;
}

.logo__accueil{
    z-index: 1;
    position: absolute;
    width: 109px;
    height: 147px;
    left: 133px;
    top: 138px;
}

img{
    max-width: 100%;
}

.image__fond{
    position: absolute;
    width: 308px;
    height: 329px;
    left: 34px;
    top: 190px;
}

.img__article{
    max-width: 100%;
    padding: 20px;
}


