.photo {
    max-width: 100%;
    height: auto;
    
  }

.photo__accueil{
    position: relative;
    top: -64px;
    width: 375px;
    height: 310px;
}

.logo__accueil{
    z-index: 1;
    position: absolute;
    left: 133px;
    top: 138px;
}

.logo__accueil1{
    z-index: 1;
    position: absolute;
    left: 55px;
    top: 138px;
}

img{
    max-width: 100%;
}

.image__fond{
    position: absolute;
    width: 309px;
    height: 269px;
    left: 33px;
    top: 270px;
}

.img__article{
    width: 322px;
    height: 198px;
    margin-left: 30px;
}

.image__fond2{
    position: absolute;
    width: 308px;
    height: 329px;
    left: 34px;
    top: 190px;
}

.visage{
    margin-bottom: 40px;
    max-width: 40%;
    position: relative;
    left: 100px;
}




