:root{
    /* Color styles */
    --vert:rgba(39, 212, 158, 1);
    --blanc:rgba(255, 255, 255, 1);
    --blanc-2:rgba(241, 241, 241, 1);
    --gris-1:rgba(238, 242, 243, 1);
    --gris-2:rgba(177, 182, 185, 1);
    --noir:rgba(0, 0, 0, 1);
    --noir-1:rgba(29, 38, 43, 1);
    --noir-2:rgba(29, 38, 43, 1);


    /* Text-size styles */
    /* base size: base (16px) */
    --base: 1rem;
    --title-xxl: 3rem;
    --title-xl: 2.25rem;
    --title-lg: 1.5rem;
    --title-md: 1.125rem;
    --text-sm: 0.875rem; 
    --test-xs: 0.75rem;
    

    /* Font-family style */
    --font-source: 'Source sans pro';
    --font-comforta: 'Comfortaa';





}