.footer{
    background-color: var(--noir-1);
    height: 337px;
}

.font__footer{
    padding-top: 40px;
    color: var(--blanc);
    font-family: var(--font-source);
    font-weight: 700;
}

.font__projet{
    color: var(--gris-2);
    font-family: var(--font-source);
    position: relative;
    top: 35px;
}

.font__c{
    text-align: center;
    color: var(--blanc);
    font-family: var(--font-source);
    position: relative;
    top: 40px;
}

.icon__fb{
    position: relative;
    top: 25px;
    left: 100px;
}

.icon__mail{
    position: relative;
    left: 150px;
    top: 25px;
}

.icon__mmi{
    position: relative;
    left: 169px;
    top: 50px;
}

