.footer{
    background-color: var(--noir-1);
    height: 337px;
}

.font__footer{
    color: var(--blanc);
    font-family: var(--font-source);
}

.font__projet{
    color: var(--gris-2);
    font-family: var(--font-source);
}

.font__c{
    text-align: center;
    color: var(--blanc);
    font-family: var(--font-source);
}

.icon__fb{
    position: relative;
    width: 50px;
    height: 46px;
    left: 130px;
}

.icon__mail{
    position: relative;
    width: 42px;
    height: 39px;
    left: 201px;
}

.icon__mmi{
    position: relative;
    width: 42px;
    height: 38px;
    left: 169px;
}

